<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Schedule</h1>
  <div class="col-10 offset-1 mb-3">
      <form action="/schedules/<%=schedule._id%>?_method=PUT" method="POST" novalidate class="validated-form">
        <div class="container">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>8-9</th>
                  <th>9-10</th>
                  <th>10-11</th>
                  <th>11-12</th>
                  <th>12-1</th>
                  <th>1-2</th>
                  <th>2-3</th>
                </tr>
              </thead>
              <tbody>
                <% const days = [
                  { name: 'Sun', key: 'sunday' },
                  { name: 'Mon', key: 'monday' },
                  { name: 'Tues', key: 'tuesday' },
                  { name: 'Wed', key: 'wednesday' },
                  { name: 'Thurs', key: 'thursday' }
                ]; %>
                <% days.forEach(day => { %>
                  <tr>
                    <td class="text-center" name="<%= day.name %>"><%= day.name %></td>
                    <% for (let i = 0; i < 7; i++) { %>
                      <td>
                          <% const dayValue = schedule.days[day.key][i] || '-'; %>
                          <input type="text" class="form-control" name="days[<%= day.key %>][<%= i %>]" value="<%= dayValue %>">
                      </td>
                    <% } %>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-info">Edit Schedule</button>
        </div>
      </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
  integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
  integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="javascripts/schedule.js"></script>
